.admin-gallary-contaier {
  padding: 20px;
  background: #f8fafc;
  min-height: 100vh;
  transition: all 0.2s;
}
.admin-gallary-heading {
  font-size: 22px;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 14px;
}
.admin-gallary-heading-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}
.admin-gallary-add-category-box {
  display: flex;
  gap: 20px;
  height: max-content;
}

.admin-gallary-add-category-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s;
  font-size: 16px;
}
.admin-gallary-add-category-input:focus {
  border-color: #007bff;
}

.admin-gallary-add-category-btn {
  display: block;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.admin-gallary-categories-box {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;

  gap: 20px;
}

.admin-gallary-categories-box::-webkit-scrollbar {
  display: none;
}

.admin-gallary-category-item {
  color: #333;
  border-radius: 8px;
  border: 1px solid #ccc;

  display: flex;
  gap: 20px;

  text-transform: capitalize;
}

.admin-gallary-category-item-active {
  background-color: #cae3ff;
}

.admin-gallary-category-item-edit-box {
  display: flex;
}

.admin-gallary-category-item-edit-input {
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  min-width: max-content;

  border: 1px solid #ffffff00;
  transition: all 0.2s;
  text-transform: capitalize;
}
.admin-gallary-category-item-edit-input:focus {
  outline: none;
  border-color: transparent;
}

.admin-gallary-category-item-edit-input:focus
  .admin-gallary-category-item-active {
  background-color: #f8fafc;
}

.admin-gallary-category-item-edit-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-gallary-category-item-edit-save-btn {
  border: none;
  height: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.admin-gallary-category-item-edit-cancel-btn {
  border: none;
  height: 100%;
  background-color: #ff5959;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.admin-gallary-category-row {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
}

.admin-gallary-category-name {
  font-size: 16px;
  white-space: nowrap;
}

.admin-gallary-edit-icon {
}

/* img upload of categoerty  */

.admin-gallary-image-upload-box {
  margin-top: 20px;
  padding: 16px;
  border-radius: 8px;
}

.admin-gallary-selected-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.admin-gallary-selected-title span {
  text-transform: capitalize;
  font-weight: 500;
}

.admin-gallary-file-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.admin-gallary-file-label {
  padding: 8px 14px;
  background: #cdcdcd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.admin-gallary-file-label:hover {
  background: #e2e8f0;
}

.admin-gallary-file-name {
  font-size: 14px;
  color: #555;
}
.admin-gallary-image-upload-btn {
  padding: 8px 14px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* gallary grid */
/* gallary grid */
/* gallary grid */

.admin-gallary-images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 14px;
}

.admin-gallary-grid-images-title {
  font-size: 20px;
  font-weight: 500;

  text-align: center;
  margin-bottom: 24px;

  text-transform: capitalize;
}

.admin-gallary-image-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #eee;
}

.admin-gallary-image-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.admin-gallary-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.admin-gallary-image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.admin-gallary-image-wrapper:hover .admin-gallary-image-overlay {
  opacity: 1;
}

/* BUTTON */
.admin-gallary-status-btn {
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.admin-gallary-status-btn-active {
  background: #007bff;
}

.admin-gallary-status-btn-inactive {
  background: #9a9a9a;
}

.admin-gallary-image-card.admin-gallary-status-inactive .admin-gallary-image {
  filter: grayscale(60%);
  opacity: 0.6;
}
