.terms-page {
  padding: 170px;
  /* background: #f6fbff; */
  font-family: "Outfit", sans-serif;
}

/* .terms-container {
  max-width: 1000px;
  margin: auto;
  padding: 35px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
} */

.terms-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 18px;
}

.terms-container h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 18px;
  position: relative;
}

.terms-container h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #b0895a;
  margin-top: 6px;
  border-radius: 2px;
}

.terms-intro {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.8;
}

.terms-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.terms-table td {
  border: 1px solid #e5e5e5;
  padding: 14px;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.6;
}

.terms-table td:first-child {
  /* background: #f4f4f4; */
  width: 30%;
  font-weight: 600;
}

.terms-list {
  padding-left: 20px;
  color: #444;
  line-height: 1.8;
}

.terms-list li {
  margin-bottom: 10px;
}

.terms-footer {
  margin-top: 30px;
  font-weight: 500;
  color: #333;
}

@media (max-width: 1200px) {
  .terms-page {
    padding: 140px 80px 0 80px;
  }
}

@media (max-width: 900px) {
  .terms-page {
    padding: 120px 50px 0 50px;
  }

  .terms-container h1 {
    font-size: 28px;
  }

  .terms-container h2 {
    font-size: 20px;
  }

  .terms-table td {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .terms-page {
    padding: 110px 30px 0 30px;
  }

  .terms-intro {
    font-size: 14px;
  }

  .terms-table td {
    padding: 12px;
  }
}

@media (max-width: 550px) {
  .terms-page {
    padding: 100px 18px 0 18px;
  }

  .terms-container h1 {
    font-size: 24px;
  }

  .terms-container h2 {
    font-size: 18px;
  }

  .terms-table td {
    font-size: 14px;
    padding: 10px;
  }

  .terms-table td:first-child {
    width: 40%;
  }
}

@media (max-width: 420px) {
  .terms-page {
    padding: 90px 10px 0 10px;
  }

  .terms-table td {
    font-size: 12px;
  }

  .terms-list {
    padding-left: 16px;
  }
}
