.admin-wpr-container {
  padding: 20px;
  background: #f8fafc;
}

.admin-wpr-title {
  font-size: 22px;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 14px;
}

.admin-wpr-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.admin-wpr-wp-card,
.admin-wpr-r-card {
  background: #f8fafc;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
}

.admin-wpr-wp-title,
.admin-wpr-r-title {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
  text-align: center;
}

.admin-wpr-wp-form,
.admin-wpr-r-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-wpr-input-div-name-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.admin-wpr-wp-label,
.admin-wpr-r-label {
  font-size: 14px;
  font-weight: 500;
}

.admin-wpr-wp-input,
.admin-wpr-r-input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
}

.admin-wpr-wp-input:focus,
.admin-wpr-r-input:focus {
  border-color: #007bff;
}

/* INPUT GROUP */
.admin-wpr-input-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

/* textarea styling */
.admin-wpr-textarea {
  resize: none;
  overflow: hidden;
  min-height: 100px;
  line-height: 1.5;
}

/* counter */
.admin-wpr-char-count {
  font-size: 14px;
  text-align: right;
}

/* IMAGE GRID (2 IMAGES SIDE BY SIDE) */
.admin-wpr-wp-img-grid,
.admin-wpr-r-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.admin-wpr-wp-img-box,
.admin-wpr-r-img-box {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 24px;
}

/* CHANGE IMAGE BUTTON */
.admin-wpr-wp-file-label,
.admin-wpr-r-file-label {
  background: #f1f1f1;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  width: max-content;
  /* margin-left: auto; */
}

.admin-wpr-wp-file-label:hover,
.admin-wpr-r-file-label:hover {
  background: #ddd;
}
.admin-wpr-wp-file,
.admin-wpr-r-file {
  margin-bottom: 10px;
}

.admin-wpr-wp-img-wrapper,
.admin-wpr-r-img-wrapper {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .admin-wpr-wp-file-chng-btn {
  width: max-content;
} */

.admin-wpr-wp-img,
.admin-wpr-r-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-wpr-wp-btn,
.admin-wpr-r-btn {
  display: block;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  margin: 0 auto;
}

.admin-wpr-wp-btn:hover,
.admin-wpr-r-btn:hover {
  background: #1d4ed8;
}
.admin-wpr-wp-btn:disabled,
.admin-wpr-r-btn:disabled {
  opacity: 0.5;
}
