.hall-page-user {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
    padding-top: 128px;
}

.hall-page-container-user {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
