/* PAGE */
.Admin-contact-page {
  padding: 30px;
  background: #f5f7fb;
  min-height: 100vh;
}

/* HEADER */
.Admin-contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Admin-contact-header h2 {
  font-size: 26px;
}

/* TABLE CONTAINER */
.Admin-contact-table-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
}

/* TABLE */
.Admin-contact-table {
  width: 100%;
  border-collapse: collapse;
}

.Admin-contact-table thead {
  background: #f1f5f9;
}

.Admin-contact-table th,
.Admin-contact-table td {
  padding: 14px;
  text-align: left;
  border-top: 1px solid #eee;
  vertical-align: middle;
}

/* HOVER EFFECT */
.Admin-contact-table tbody tr:hover {
  background: #f9fafb;
}

/* MESSAGE COLUMN */
.message-cell {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* DATE */
.Admin-contact-table td:nth-last-child(2) {
  font-size: 13px;
  color: #6b7280;
  text-align: center;
  
}

/* ACTION ICONS (SAME AS AMENITIES) */
.Admin-contact-action-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

/* VIEW ICON */
.Admin-contact-view-icon {
  color: #2563eb;
  cursor: pointer;
  font-size: 16px;
  justify-items: center;
  
}

/* DELETE ICON */
.Admin-contact-delete-icon {
  color: #dc2626;
  cursor: pointer;
  font-size: 16px;
}

/* MODAL OVERLAY */
.Admin-contact-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* MODAL BOX */
.Admin-contact-modal {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 10px;
}

/* MODAL HEADER */
.Admin-contact-modal h3 {
  margin-bottom: 15px;
}

/* MODAL TEXT */
.Admin-contact-modal p {
  font-size: 14px;
  line-height: 1.6;
  color: #374151;
}

/* CLOSE BUTTON */
.Admin-contact-modal button {
  margin-top: 15px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

